.search-field-wr {
    width: 1000px;
    position: relative;
    height: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px #aaa;
    border-radius: 5px;
}
.search-field-wr .MuiFormControl-root {
    width: 92%;
    height: 40px !important;
    color: #555;
    border: none !important;
}
.search-field-wr .MuiInput-underline::before {
    border: none !important;
}
.search-field-wr .MuiInput-input {
    margin-top: 3px !important;
    padding: 10px 0 !important;
}
.search-icon {
    color: #555;
    cursor: pointer;
    margin: 10px 0 0 ;
    font-size: 20px;
}
.search-field-wr input {
    width: 1000px !important;
}   
.search-field-wr .MuiInputBase-root {
    width: 1000px !important;
}
.search-field-wr .MuiInput-underline {
    width: 1000px !important;
}