
.worker-wr .MuiTableCell-root p {
    color: black !important;
}
.create-btn {
    background-color: orange !important;
    width: 250px;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

/* Worker Form */

.worker-wr .MuiSelect-root {
    width: 300px !important;
    height: 30px !important;
    background-color: #eee;
    line-height: 30px;
    padding-left: 10px;
}
.worker-wr .MuiInput-underline {
    width: 300px !important ;
}
.worker-wr .MuiGrid-root {
    padding: 0 !important;
}


.worker-topbar {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 45% 8% auto auto auto;
    height: 67px !important;
    margin-bottom: 30px !important;
}
.worker-topbar .create-btn {
    height: 42px !important;
    width: 150px !important;
    position: relative;
    top: 25px !important;
}
.worker-wr .switcher {
    display: flex;
    flex-direction: row;
    height: 38px !important;
    position: relative;
    top: 35px !important;
    margin: 0 25px;
}
.company-field input {
    width: 300px !important;
    height: 30px !important;
    background-color: #eee !important;
    line-height: 30px;
    padding-left: 10px;
}

.status-wr {
    display: grid;
    grid-template-columns: 50% 50%;
}
.status-wr .right {
    justify-self: right;
}


/* CONTENT WRAPER */

.content-wr .MuiInputBase-root {
    background-color: #eee !important;
    height: 40px !important;
}
.content-wr .MuiInput-underline {
    border-bottom: none !important;
}
.content-wr .MuiGrid-root {
    width: 250px !important;
}

.content-worker, .content-info {
    width: 45% !important;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 0 20px 2%;
}
.content-worker {
    float: left;
}
.content-info {
    float: right;
}

.content-wr .MuiTypography-root {
    margin-top: 10px;
    margin-bottom: 2px;
}
.comment .MuiInput-underline {
    position: relative;
    width: 315% !important;
}


/* TREADE */
.trades-list {  
    float: left;
    width: 100% !important;
}
.trades-list div {
    background-color: #ccc;
    height: 40px;
    line-height: 40px;
    width: 100% !important;
    text-indent: 10px;
}
.trades-list p {
    width: 100%;
    margin-top: 18px !important;
}