/* INDEX SEARCH BAR*/
.client-wr .MuiSelect-root {
    width: 300px !important;
    height: 30px !important;
    background-color: #eee;
    line-height: 30px;
    padding-left: 10px;
}
.client-wr .MuiInput-underline {
    width: 300px !important ;
}
.client-wr .MuiGrid-root {
    padding: 0 !important;
}

.search-client {
  width: 100% !important;
  display: grid !important;
  grid-template-columns: 70% 15%;
  height: 67px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  justify-items: left;
}

.create-newclient-btn {
    background-color: orange !important;
    width: 205px;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 16px !important;
    height: 45px;
}

/* EDIT CREATE TOP BAR*/
/* .client-wr .MuiInputBase-root {
    width: 300px !important;
    height: 30px !important;
    background-color: #eee;
    line-height: 30px;
    padding-left: 10px;
} */


.client-wr .create-btn {
    background-color: orange !important;
    width: 250px;
    color: #fff !important;
    font-weight: bold !important;
    height: 42px !important;
    line-height: 42px !important;
}

.client-wr .MuiSelect-root {
    width: 300px !important;
    height: 30px !important;
    background-color: #fff;
    line-height: 30px;
    padding-left: 10px;
    text-indent: 10px !important;
}


.client-topbar {
    width: 99.5% !important;
    display: grid !important;
    grid-template-columns: 25.80% 25% 38% 12%;
    height: 67px !important;
    margin-bottom: 30px !important;
}

.client-topbar .create-btn {
    height: 42px !important;
    width: 150px !important;
    position: relative;
    top: 25px !important;
    padding: 0 !important;
    float: right !important;
}

/* content */

.content-cl .MuiInputBase-root, .client-topbar .MuiInputBase-root {
    background-color: #fff !important;
    height: 40px !important;
}
.select-wr .MuiInput-underline::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.425) !important;
}
.select-wr {
    margin: 0 !important;
}
.content-cl .content-site .MuiGrid-root {
    width: 250px !important;
}
.client-wr .MuiTypography-root {
    margin-top: 10px;
    margin-bottom: 2px;
}

.contact-person {
    padding: 0px 0 2px 0%;
    display:inline;
    color: rgba(0, 0, 0, 0.507);
}
.company-address {
    padding: 0px 0 2px 48%;
    display:inline;
    color: rgba(0, 0, 0, 0.507);
}

.content-client, .content-info {
    width: 45% !important;
    background-color: #eee !important;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 0 20px 2%;
    box-shadow: 0 0 4px #00000038;
}
.content-client {
    float: left;
}
.content-info {
    float: right;
}

.content-cl .content-site .MuiTypography-root {
    margin-top: 10px;
    margin-bottom: 2px;
}

.comment1 .MuiInput-underline {
    position: relative;
    width: 157% !important;
}

/* SITE */
.site-orange {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 35.5% 5%;
    height: 67px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    justify-items: left;
    
}
.site-orange p{
    font-size: 20px !important;
    line-height: 20px;
}

.site-nametag {
    background-color: orange !important;
    width: 88% !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size:  15px !important;
    border-radius: 3px;
    text-indent: 20px;
    margin-top: 30px;
    height: 40px !important;
}


.save-btn {
    background-color: orange !important;
    width: 150px !important;
    color: #fff !important;
    font-weight: bold !important;
    margin-top: 30px !important;
    font-size: 13px !important;
    height: 40px;
    border-radius: 3px !important;
}

.site-info {
    float: left;
    width: 45% !important;
    background-color: #eee;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px 0 20px 2%;
    margin-bottom: 20px !important;
    box-shadow: 0 0 4px #00000038;
}
.sitename-wr {
    grid-column: 1/3;
}
.sitename-wr .MuiInputBase-root {
    width: 313% !important;
}


.sites-table {
    float: right;
    width: 45% !important;
    padding: 5px 0 20px 2%;
    margin-bottom: 20px !important;

}
.content-site {
  background-color: #eee !important;
}
.site-info .MuiInputBase-root {
    background-color: #fff !important;
    height: 40px !important;
    text-indent: 10px !important;
}