.weekly-wr {
    width: 99vw;
    height: 100vh;
    margin-top: 10px;
    background-color: #fff;
    position: absolute;
    left: 1px;
}

.topbar-btns div{
    background-color: rgb(251, 179, 46);
    border-radius: 8px ;
    height: 30px;
    margin: 1px 50px 3px 0;
    padding: 0 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
}

.topbar-wr{
    margin-top: 30px;
}
.topbar-wr ul, .worker-wr ul  {
    display: grid;
    grid-template-columns: 7% 7% 11% 3% 8% 5% 4% 4% 4% 4% 4% 4% 4% 4% 5% 4.5% 5% 3.5% 2.5% 4.5% 2%;
}
.topbar-wr li, .worker-wr li {
    text-align: center !important;
    margin: auto;
}
.topbar-wr ul div, .worker-wr ul div {
    border: 1.5px solid #aaa;
    border-left: none;
    text-align: center;
    padding: 5px 1px;
    font-size: 14px;
    line-height: 16px;
    color: #171166;
    font-weight: bolder;
    height: 50px;
    background-color: #fafafa;
    display: grid;
}

.test div {
    border-left: none;
    border-top: none !important;
    text-align: center;
    padding: 5px 1px;
    font-size: 14px;
    line-height: 16px;
    height: 30px !important;
    color: #000 !important;
    font-weight: 100 !important;
    background-color: #fff !important;
}

.small-text {
    font-size: 10px;
    line-height: 10px;
}

.weekly-wr input {
    border: none;
    width: 100%;
    background-color: inherit;
    text-align: center;
    color: #000;
    font-size: inherit;
    outline: none;
    font-weight: 700;
}


.paid li {
    background-color: rgb(64, 221, 50);
    width: 103%;
    color: #fff;
    padding: 6.5px 0;
    position: relative;
    top: -5px;
    left: -1px;
}
.not-paid li {
    background-color: rgb(245, 21, 21);
    width: 103%;
    color: #fff;
    padding: 6.5px 0;
    position: relative;
    top: -5px;
    left: -1px;
}


.addworker-wr {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    height: 40%;
    padding: 20px;
    box-shadow: 0 0 10px 3px #aaa;
    border-radius: 5px;
}
.addworker-wr p {
    color: #777
}
.add-worker-btn {
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: none;
    left: 45%;
    border: 1px solid #777;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
}
.title-add-worker {
    font-size: 22px;
    color: #000 !important;
    float: left;
    margin-bottom: 20px;
}
.select-wr {
    margin: 10px 0;
}


.site-name {
    border: 1.5px solid #aaa;
    border-left: none;
    border-top: none;
    padding: 5px 1px;
    font-size: 14px;
    line-height: 20px;
    height: 30px !important;
    padding-left: 30px;
    width: 98% !important;
}

.close-btn {
    width: 25px;
    height: 25px;
    background-color: rgb(245, 80, 80);
    color: #fff;
    border-radius: 4px;
    line-height: 25px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.remove-btn {
    width: 25px !important;
    height: 25px !important;
    background-color:  rgb(245, 21, 21) !important;
    color: #fff !important;
    border-radius: 4px !important;
    line-height: 25px !important;
    text-align: center !important;
    float: right !important;
    cursor: pointer !important;
    border: none !important;
    position: absolute;
    left: 5px;
    top: 2px
}

.remove-btn-wr {
    border: none !important;
    position: relative;
}

.pop-out {
    position: absolute;
    text-align: center;
    background-color: #fafafa;
    box-shadow: 0 0 10px 1px #7d7d7d;
    width: 200px;
    height: 90px;
    padding: 10px;
    right: 40px;
    margin-top: -62px;
    border-radius: 5px;
    line-height: 25px;
}
.pop-out button {
    position: absolute;
    bottom: 0;
    height: 30px;
    cursor: pointer;
    border: none;
    background: inherit;
    font-size: 14px;
    width: 50%;
    text-align: center;
    border-top: 2px solid #777;
}
.ok {
    left: 0;
    border-right: 2px solid #777 !important;
    border-bottom-left-radius: 10px;
}
.cancel {
    right: 0px;
    border-bottom-right-radius: 10px;
}


.input-worker {
    width: 80%;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: -3px;
}

.input-worker:active {
    border: none !important;
}

.add-site-btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(56, 241, 112);
    color: #000;
    border-radius: 5px;
    float: left;
    margin: 0 20px;
}
.add-site-wr {
    margin: 20px;
}
.ok-btn {
    margin-left: -50px;
    border: none; 
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(56, 241, 112);
    color: #000;
    border-radius: 5px;

}